body {
    display: flex;
    background-color: rgb(255, 253, 219);
    margin: 0;
}

#sidebar {
    background: rgb(219, 233, 139);
    width: 256px;
    min-height: 100vh;
    flex: none;
}

#exercise {
    background: rgb(250, 224, 177);
    padding: 32px;
    border: 2px solid rgb(134, 154, 160);
    box-shadow: 2px 2px 3px black;
    font-size: 24px;
    align-self: flex-start;
    margin: 16px;
}

#page-content {
    flex: 1;
}

#solution {
    display: flex;
    flex-wrap: wrap;
    margin: 24px;
    gap: 16px 0;
    font-size: 20px;
}

#answer-container {
    background: rgb(250, 224, 177);
    border: 2px solid rgb(134, 154, 160);
    box-shadow: 2px 2px 3px black;
    font-size: 24px;
    margin: 16px;
    padding: 16px;
}

#answer-container,
#answer-submit{
    font-size: 24px;
}

.answer {
    font-size: 24px;
    width: 50px;
}

.hidden {
    display: none;
}

.answer.correct {
    background-color: rgb(149, 204, 68);
}

.answer.false {
    background-color: rgb(226, 85, 75);
}